

body {
text-align: center;
width: 1000px;
height: 100%;
}

a {
background-color: transparent;
text-align: center;
width: 1000px;
height: 100%;
padding: 255px;
margin-top: 100px;
}



.ui.menu .active.item {
	color: #F99700;
}

